.container-jumbotron{
    height: 85vh;
    background-image: url("../../assets/images/dish-jumbotron.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
}
.container-jumbotron .paragraph{
    margin-left: 100px;
}
.container-jumbotron .paragraph h1{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 45pt;
    width: 440px;
}
.container-jumbotron .paragraph p{
    font-size: 15pt;
}
.container-jumbotron .paragraph .view-menu{
    background-color: #FF7F7F;
    border: 0;
    border-radius:70px;
    width: 240px;
    height: 60px;
    color: white;
    margin-top: 20px;
}
@media (max-width:600px){
    .container-jumbotron .paragraph{
        margin-left: 10px;
    }
    .container-jumbotron .paragraph h1{
        color: white;
        font-size: 30pt;
        width: 100%;
    }
    .container-jumbotron .paragraph {
       width: 100%; 
    }
    .container-jumbotron{
        height: 55vh;
    }
}