.popular{
    color: #294BD1;
    margin: 0;
    background-color: #fffce6;
    margin-left: 140px;
}
.itens-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.itens{
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;

    overflow-x: hidden;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.item{
    flex: none;

    width: 100%;

    scroll-snap-align: start; 

    pointer-events: none;

}
.setas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #fffce6;
    align-items: center;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    position: relative;
}
.window{
    width: 1200px;
    height: 500px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
}
.buraco{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background-color: #fffce6;
}
.container .range{
    width: 100%;
    height: 80px;
    background-color: #FD4F4F;
    position: absolute;
    z-index: -1;
}